* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.contenedorPrincipal {
  background: linear-gradient(0deg, rgba(10, 10, 10, 0.752), rgba(11, 9, 9, 0.5)),
    url(../images/bgPrincipal.JPG);
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  padding: 0px 15px;
}
/*HEADER*/

header {
  width: 100%;
}
#btn-menu {
  display: none;
}
header label {
  display: none;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 10px;
}
header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}
.menu {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: auto;
}
.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.menu li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
/*HEADER*/

/*PAGINA PRINCIPAL*/
.tituloPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.tituloPrincipal h1 {
  font-size: 70px;
  color: #fff;
  letter-spacing: 3px;
  font-family: "Roboto", sans-serif;
}
.tituloPrincipal h2 {
  color: #fff;
}
.tituloPrincipal a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  margin-top: 100px;
  border: 2px solid #fff;
  font-weight: bold;
  padding: 10px;
  /* background-color: rgb(65, 178, 220); */
  background-color: #2e56a6;
  border-radius: 10px;
  transition: 400ms;
}
.tituloPrincipal a:hover {
  color: #000;
  background-color: rgb(246, 238, 5);
  border: 2px solid #000;
}
/*PAGINA PRINCIPAL*/

/*SERVICIOS*/

/*VUELOS*/
.areaDeVuelos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.vuelosPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #000;
}
.tituloVuelos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 40%;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
}
.tituloVuelos h1 {
  color: #000;
  font-size: 50px;
  margin: 0px 10px;
  text-align: center;
}
.tituloVuelos p {
  text-align: center;
  font-size: 20px;
}
.imagenVuelos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagenVuelos img {
  height: 500px;
  width: auto;
  object-fit: contain;
}
.vuelosInformacion {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.vuelo {
  background: linear-gradient(0deg, rgba(11, 9, 9, 0.5), rgba(11, 9, 9, 0.5)),
    url(../images/vuelo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 33.33%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 400ms;
}
.vuelo2 {
  background: linear-gradient(0deg, rgba(11, 9, 9, 0.5), rgba(11, 9, 9, 0.5)),
    url(../images/vuelo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 33.33%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vuelo3 {
  background: linear-gradient(0deg, rgba(11, 9, 9, 0.5), rgba(11, 9, 9, 0.5)),
    url(../images/vuelo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 33.33%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drone {
  background-color: #fff;
  padding: 8px;
  margin-bottom: 20px;
}
.drone h1 {
  font-size: 40px;
}
.infoVuelo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoVuelo p {
  color: #fff;
  text-align: center;
}
.infoVuelo a {
  margin-top: 10px;
  color: #000;
  background-color: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 300ms;
}
.infoVuelo a:hover {
  background-color: rgb(246, 238, 5);
}
/*VUELOS*/

/*CURSOS*/

.cursosPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.407)),
    url(../images/bgCursos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tituloCursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tituloCursos h1 {
  color: #fff;
  font-size: 50px;
}
.tituloCursos p {
  color: #fff;
  font-size: 20px;
}
.infoCursos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.curso {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.33%;
}
.curso2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.33%;
}
.curso3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.33%;
}
.tituloCurso {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  text-align: center;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/curso2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tituloCurso2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/curso1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.tituloCurso3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/curso3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.tituloCurso h1 {
  font-size: 30px;
  color: #fff;
}
.tituloCurso2 h1 {
  font-size: 30px;
  color: #fff;
}
.tituloCurso3 h1 {
  font-size: 30px;
  color: #fff;
}
.botonInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: #000;
}
.botonInfo a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  padding: 8px;
  transition: 300ms;
}
.botonInfo a:hover {
  background-color: rgb(246, 238, 5);
}
/*CURSOS*/

/*TALLERES*/

.talleresPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.tituloTalleres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  padding: 20px;
}
.tituloTalleres h1 {
  font-size: 50px;
  text-align: center;
}
.tituloTalleres p {
  text-align: center;
  margin-top: 15px;
}
.imagenesTalleres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.308)),
    url(../images/taller1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imagen p {
  color: #fff;
  font-size: 30px;
}
.imagen2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.308)),
    url(../images/taller2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imagen2 p {
  color: #fff;
  font-size: 30px;
}
.imagen3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.308)),
    url(../images/taller3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imagen3 p {
  color: #fff;
  font-size: 30px;
}
.imagen4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.308)),
    url(../images/taller4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imagen4 p {
  color: #fff;
  font-size: 30px;
}
.talleresInformacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #000;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.308)),
    url(../images/bgInfoTalleres.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.informacionTituloTalleres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
}
.informacionTituloTalleres h1 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
}
.informacionTituloTalleres h2 {
  margin-bottom: 10px;
  color: #fff;
}
.talleres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40%;

  background-color: #fff;
}
.infoTaller {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: rgb(255, 255, 255);
  height: 100%;
  width: 33%;
}
.infoTaller img {
  height: 100%;
  width: 50%;
}
.infoTaller p {
  text-align: center;
  color: #000;
  font-weight: bold;
}
.botonesInfoTalleres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.botonesInfoTalleres a {
  color: #000;
  font-weight: bold;
  margin-top: 5px;
  transition: 300ms;
}
.botonesInfoTalleres a:hover {
  color: rgb(246, 238, 5);
}
.infoTaller img {
  object-fit: cover;
}
/*TALLERES*/

/*EDICIÓN*/

.edicionPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}
.columnaEdicion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.columnaEdicion2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 50%;
  height: 100%;
}
.tituloEdicion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
  background-color: #000;
}
.tituloEdicion h1 {
  color: #000000;
  background: #fff;
  padding: 15px;
  text-align: center;
}
.tituloEdicion h2 {
  color: #000000;
  background: #fff;
  padding: 15px;
  text-align: center;
}

.imagenEdicion1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
}
.imagenEdicion1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.informacionEdicion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    url(../images/bgEdicion.jpg) no-repeat fixed center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.edicionCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 70%;
  width: 20%;

  background: linear-gradient(
      180.08deg,
      #ffffff 26.57%,
      rgba(255, 255, 255, 0) 99.93%
    ),
    rgba(0, 0, 0, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.imagenEdicion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.imagenEdicion img {
  height: 100%;
  width: 70%;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.videoInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.videoInfo h2 {
  width: 60%;
  text-align: center;
}
.videoInfo a {
  color: #fff;
  margin-top: 10px;
  transition: 300ms;
}
.videoInfo a:hover {
  color: rgb(246, 238, 5);
}
/*EDICIÓN*/

/*SERVICIOS*/

/*RESPONSIVE*/

@media screen and (max-width: 1000px) {
  .informacionEdicion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .edicionCard {
    flex-direction: row;
    height: 22%;
    width: 80%;
  }
  .imagenEdicion {
    width: 50%;
    height: 80%;
  }
}
@media screen and (max-width: 900px) {
  .drone {
    width: 70%;
  }
  .drone h1 {
    font-size: 25px;
    text-align: center;
  }
  .infoVuelo p {
    width: 70%;
  }
  .vuelosPrincipal {
    padding: 20px;
  }
}
@media screen and (max-width: 800px) {
  .tituloVuelos {
    width: 30%;
  }
  .tituloVuelos h1 {
    font-size: 35px;
  }
  .tituloVuelos p {
    font-size: 15px;
  }

  .tituloTalleres {
    width: 30%;
  }
  .tituloTalleres h1 {
    font-size: 35px;
  }
  .tituloTalleres p {
    font-size: 15px;
  }
  header label {
    display: block;
  }
  .menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    width: 30%;
    margin-left: -70%;
    transition: all 0.5s;

  }
  .menu ul {
    flex-direction: column;

  }
  .menu li a {
    color: #fff;
  }
  #btn-menu:checked ~ .menu {
    margin: 0;
  }
}
@media screen and (max-width: 750px) {
  .nav a {
    margin: 0px 8px;
  }
  .vuelosPrincipal {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tituloVuelos {
    width: 70%;
    height: 60%;
    margin-bottom: 20px;
  }
  .imagenVuelos img {
    height: 400px;
  }
  .botonInfo a {
    font-size: 15px;
  }
  .drone h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 650px) {
  .drone h1 {
    font-size: 15px;
  }
  .infoVuelo a {
    font-size: 10px;
  }
  .tituloCursos h1 {
    font-size: 50px;
    text-align: center;
  }
  .botonesInfoTalleres p {
    font-size: 12px;
  }
  .botonesInfoTalleres a {
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  .nav a {
    margin: 0px 5px;
  }
}
.tituloCurso .tituloCurso2 .tituloCurso3 h1 {
  font-size: 20px;
}
.botonInfo a {
  font-size: 10px;
}
.videoInfo h2 {
  font-size: 20px;
}
.videoInfo a {
  font-size: 15px;
}
@media screen and (max-width: 550px) {
  .nav a {
    font-size: 15px;
  }
  .infoVuelo p {
    font-size: 12px;
  }
  .tituloCurso h1 {
    font-size: 20px;
  }
  .tituloCurso2 h1 {
    font-size: 20px;
  }
  .tituloCurso3 h1 {
    font-size: 20px;
  }
  .talleresPrincipal {
    flex-direction: column;
  }
  .tituloTalleres {
    width: 100%;
    height: 40%;
  }
  .imagenesTalleres {
    flex-direction: column;
    height: 60%;
    width: 100%;
  }
  .informacionTituloTalleres h1 {
    font-size: 50px;
  }
  .talleres {
    flex-direction: column;
  }
  .infoTaller {
    height: 33.33%;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .nav a {
    font-size: 15px;
    margin: 0px 2px;
  }
  .videoInfo h2 {
    font-size: 15px;
  }
  .videoInfo a {
    font-size: 10px;
  }
}
@media screen and (max-width: 430px) {
  .tituloPrincipal h1 {
    text-align: center;
    font-size: 50px;
    background-position: center;
  }
  .imagenVuelos {
    width: 100%;
  }
  .drone h1 {
    font-size: 12px;
    font-weight: bold;
  }
  .infoVuelo a {
    font-size: 10px;
  }
  .tituloCursos h1 {
    font-size: 40px;
  }
  .curso {
    flex-direction: column;
  }
  .curso2 {
    flex-direction: column;
  }
  .curso3 {
    flex-direction: column;
  }
  .tituloCurso {
    width: 100%;
    padding: 20px;
  }
  .tituloCurso2 {
    width: 100%;
    padding: 20px;
  }
  .tituloCurso3 {
    width: 100%;
    padding: 20px;
  }
  .botonInfo a {
    font-size: 15px;
  }
  .botonInfo {
    width: 100%;
  }
  .edicionPrincipal {
    flex-direction: column;
  }
  .columnaEdicion {
    flex-direction: column;
    width: 100%;
    height: 50%;
  }
  .columnaEdicion2 {
    flex-direction: column;
    width: 100%;
    height: 50%;
  }
  .informacionTituloTalleres h1 {
    font-size: 40px;
  }
  .tituloEdicion h1 {
    font-size: 20px;
  }
  .tituloEdicion h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .vuelosPrincipal {
    height: 100vh;
  }
  .imagenVuelos {
    width: 100%;
  }
  .imagenVuelos img {
    height: 250px;
  }
}
@media screen and (max-width: 300px) {
  .drone {
    width: 90%;
  }
  .drone h1 {
    font-size: 10px;
  }
}

/*RESPONSIVE*/
