* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Unica One", cursive;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  text-align: center;
  margin: 0px 5px;
  text-align: left;
  padding: 5px;
}
/*HEADER*/
header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-menu {
  display: none;
}
header label {
  display: none;
  width: 40px;
  height: 40px;
  padding: 10px;
}
header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}
.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu li {
  border-right: 1px solid #fff;
}
.menu li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.menu li a {
  display: block;
  padding: 20px;
  color: #000;
  text-decoration: none;
  font-size: 15px;
}
/*HEADER*/

/*CONTENIDO PRINCIPAL*/
.bodyPrincipal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 88vh;
}
.imagenPrincipal {
  background: linear-gradient(
      0deg,
      rgba(23, 18, 18, 0.51),
      rgba(23, 18, 18, 0.51)
    ),
    url(../images-services/bgPrincipal.jpg);
  background-size: 100%;
  background-attachment: fixed;
  object-fit: contain;
  background-position: bottom;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
}
.imagenPrincipal p {
  color: #fff;
  font-size: 50px;
}
.informacionPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65%;
}
.tituloInformacionPrincipal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}
.ejemplosPrincipal {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70%;
}
.ejemplo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  margin: 0px 50px;
}
.ejemplo img {
  height: 100px;
  width: 100px;
  margin-bottom: 30px;
}
.ejemplo p {
  width: 50%;
  text-align: center;
}
/*CONTENIDO PRINCIPAL*/

/*CURSOS*/
.cursosPrincipal {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.imagenesCursos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 100vh;
}
.imagenesCursos img {
  height: 100%;
  width: auto;
  object-fit: cover;
}
.informacionCursos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-color: #fff;
}
.informacionCursos h1 {
  text-align: center;
  width: 50%;
  margin-bottom: 20px;
}
.informacionCursos p {
  text-align: center;
  font-size: 25px;
  width: 70%;
}
.informacionCursos a {
  text-decoration: none;
  color: #000;
  background-color: #578497;
  font-size: 25px;
  padding: 10px;
  margin: 20px 0px;
  transition: transform 0.2s;
}
.informacionCursos a:hover {
  transform: scale(1.5);
}
#galeria {
  font-size: 20px;
  background-color: transparent;
  text-decoration: underline;
}
.bodycursosInformacion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #578497;
}
.tituloCursosInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 15vh;
  color: #fff;
}
.listasCursos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 85vh;
}
.lista {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 20%;
  background-color: #fff;
  margin: 0px 20px;
  padding-bottom: 10px;
  transition: 300ms;
}
.lista:hover {
  box-shadow: 22px 22px 22px 22px rgba(0, 0, 0, 0.25);
}
.tituloLista {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: black;
}
.tituloLista h2 {
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.contenidoCursos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 50%;
}
.contenidoCursos p {
  margin-bottom: 10px;
}
.temarioCursos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 50%;
}
.temarioCursos p {
  margin-bottom: 10px;
}
/*CURSOS*/

/*TALLERES*/
.talleresPrincipal {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;

  width: 100%;
  height: 100vh;
}
.imagenTalleres {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  width: 50%;
  height: 100vh;
}
.imagenTalleres img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.botonesTalleres {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100vh;
}
.botonesTalleres h1 {
  text-align: center;
  width: 50%;
  margin-bottom: 20px;
}
.botonesTalleres p {
  text-align: center;
  font-size: 25px;
  width: 70%;
}
.botonesTalleres a {
  text-decoration: none;
  color: #000;
  background-color: #578497;
  font-size: 25px;
  padding: 10px;
  margin: 20px 0px;
  transition: transform 0.2s;
}
.botonesTalleres a:hover {
  transform: scale(1.5);
}

.bodyTalleresInfo {
  display: flex;
  justify-content: row;
  flex-direction: column;
  align-items: center;
  background-color: #578497;
  width: 100%;
  height: 100vh;
}
/*TALLERES*/

/*VUELOS*/
.vuelosPrincipal {
  display: flex;
  justify-content: column;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.imagenPrincipalVuelos {
  display: flex;
  justify-content: column;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 33.33%;
}
.imagenPrincipalVuelos img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.vuelosInfoPrincipal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 33.33%;
}
.tituloVuelos h1 {
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
}
.botonesVuelos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.botonesVuelos p {
  text-align: center;
  width: 30%;
}
.botonesContactoVuelos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px 30px;
}
.botonesContactoVuelos a {
  text-decoration: none;
  color: #000;
  background-color: #578497;
  font-size: 25px;
  padding: 10px;
  transition: transform 0.2s;
}
.botonesContactoVuelos a:hover {
  transform: scale(1.5);
}
.informacionVuelos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  padding-top: 5px;
  height: 100vh;
  width: 100%;
  background-color: #578497;
}
.infoTituloVuelos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
}
.listasVuelos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.listaVuelo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 33.33%;
  width: 100%;
}
.tipoDrone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}
.tipoDrone p {
  font-size: 30px;
  font-weight: bold;
}
.listaInfoVuelo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}
.listaInfoVuelo p {
  font-weight: bold;
}
.listaVuelo img {
  height: 180px;
  width: auto;
}
.imagenDroneVuelo {
  height: auto;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenDroneVuelo {
  object-fit: cover;
  height: 100%;
}
/*VUELOS*/

/*EDICION*/
.edicionPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.tituloEdicionPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}
.titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 60%;
}
.titulo h2 {
  text-align: center;
  font-weight: normal;
}
.botonesEdicion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  width: 100%;
}
.botonesEdicion a {
  text-decoration: none;
  color: #000;
  background-color: #578497;
  font-size: 25px;
  padding: 10px;
  transition: transform 0.2s;
}
.botonesEdicion a:hover {
  transform: scale(1.5);
}
.imagenesEdicionPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  width: 100%;
}
.imagenesEdicionPrincipal img {
  height: 100%;
  object-fit: cover;
  width: 33.33%;
}
.imagenesEdicion {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
.columna1Edicion {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 50%;
}
.columna2Edicion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 50%;
}
.imagenEdicion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      0deg,
      rgba(40, 33, 33, 0.5),
      rgba(40, 33, 33, 0.5)
    ),
    url(../images-services/edicion3.jpg);
  margin: 15px;
  width: 70%;
  height: 42%;
}
.imagenEdicion p {
  width: 50%;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

/*RESPONSIVE*/
@media screen and (max-width: 1200px) {
  ul {
    font-size: 13px;
  }
}
@media screen and (max-width: 1050px) {
  .tituloLista h2 {
    font-size: 15px;
  }
  .imagenPrincipal {
    background-position: top;
  }
}
@media screen and (max-width: 900px) {
  .imagenDroneVuelo img {
    width: 100%;
    object-fit: cover;
  }
  .imagenEdicion p {
    font-size: 15px;
  }
}
@media screen and (max-width: 790px) {
  .ejemplo p {
    font-size: 13px;
  }
  ul {
    font-size: 12px;
  }
  .tituloLista h2 {
    font-size: 12px;
  }
  .imagenDroneVuelo img {
    height: 100%;
    width: 100%;
  }
  .infoTituloVuelos h1 {
    text-align: center;
  }
}
@media screen and (max-width: 720px) {
  .informacionCursos h1 {
    font-size: 30px;
  }
  .informacionCursos p {
    font-size: 20px;
  }
  .botonesTalleres h1 {
    font-size: 30px;
  }
  .botonesTalleres p {
    font-size: 20px;
  }
}
@media screen and (max-width: 680px) {
  .informacionCursos h1 {
    font-size: 25px;
  }
  .informacionCursos p {
    font-size: 18px;
  }
  .botonesTalleres h1 {
    font-size: 25px;
  }
  .botonesTalleres p {
    font-size: 18px;
  }
  .lista {
    width: 25%;
    height: 90%;
  }
  ul {
    font-size: 12px;
  }
  .ejemplo p {
    width: 70%;
  }
  .imagenEdicion p {
    font-size: 12px;
  }
  .botones a {
    margin: 0 5px;
  }
  .tituloVuelos h1 {
    font-size: 30px;
  }
  .botonesVuelos p {
    font-size: 15px;
  }
  .infoTituloVuelos h1 {
    font-size: 30px;
  }
  .titulo h1 {
    font-size: 40px;
  }
  .titulo h2 {
    font-size: 20px;
  }
  .imagenPrincipal {
    background-position: top;
  }
  .bodycursosInformacion {
    height: 200vh;
    justify-content: start;
  }
  .listasCursos {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #listaTalleres {
    width: 40%;
    margin: 20px 10px;
  }
  #listaTalleres ul {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .botones a {
    font-size: 12px;
  }
  .imagenPrincipal p {
    font-size: 35px;
  }
  .tituloInformacionPrincipal h1 {
    font-size: 30px;
    width: 50%;
    text-align: center;
  }
  .cursosPrincipal {
    margin-top: 20px;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
  }
  .informacionCursos {
    height: 60%;
  }
  .informacionCursos h1 {
    width: 100%;
  }
  .informacionCursos p {
    width: 100%;
  }
  .imagenesCursos {
    width: 100%;
    height: 40%;
    overflow: hidden;
  }
  header label {
    display: block;
  }
  .menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    width: 30%;
    margin-left: -70%;
    transition: all 0.5s;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li a {
    color: #FFF;
  }
  #btn-menu:checked ~ .menu {
    margin: 0;
  }
}
@media screen and (max-width: 550px) {
  .tituloInformacionPrincipal h1 {
    font-size: 25px;
  }
  .ejemplo img {
    height: 60px;
    width: 60px;
  }
  .ejemplo p {
    text-align: center;
    width: 100%;
  }
  .tituloCursosInfo {
    font-size: 15px;
    text-align: center;
    width: 70%;
  }
  #listaTalleres ul {
    font-size: 12px;
  }
  .talleresPrincipal {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
  }
  .botonesTalleres {
    width: 100%;
    height: 40%;
    padding: 20px;
  }
  .imagenTalleres {
    width: 100%;
    height: 60%;
  }
  .tituloVuelos h1 {
    font-size: 25px;
  }
  .botonesVuelos p {
    font-size: 15px;
  }
  .tipoDrone p {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .botones a {
    margin: 0px 2px;
    font-size: 13px;
  }
  .bodyTalleresInfo {
    height: 200vh;
  }
  #listaCursos {
    width: 40%;
    margin: 20px 10px;
  }
  #listaCursos ul {
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .tituloInformacionPrincipal h1 {
    font-size: 20px;
  }
  .nombreEmpresa {
    font-size: 25px;
    text-align: center;
    width: 100%;
  }
  .ejemplo {
    padding: 0;
    margin: 0px 30px;
  }
  .ejemplo p {
    font-size: 10px;
  }
  .tituloCursosInfo {
    font-size: 12px;
  }
  .botonesContactoVuelos a {
    font-size: 15px;
  }
  .titulo h1 {
    font-size: 25px;
  }
  .titulo h2 {
    font-size: 20px;
  }
  .botonesEdicion a {
    font-size: 15px;
  }
}
@media screen and (max-width: 350px) {
  ul {
    font-size: 9px;
  }
  .ejemplo {
    margin: 0 30px;
  }
  .ejemplo img {
    height: 50px;
    width: 50px;
  }
  .imagenesCursos img {
    width: auto;
  }
  .tipoDrone p {
    font-size: 12px;
  }
  .imagenEdicion p {
    text-align: left;
    width: 70%;
  }
  .tituloVuelos h1 {
    font-size: 18px;
  }
  .botonesVuelos p {
    font-size: 10px;
  }
  .titulo h2 {
    font-size: 15px;
  }
}
